<configuration> <!-- TODO: make this better -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%boldMagenta([%d{yyyy-MM-dd HH:mm:ss}]) %highlight(%-5level:) %boldWhite([%thread]) %boldCyan([%logger{32}]) %boldRed(==>) %white(%msg) %n</pattern>
		</encoder>
	</appender>

	<appender name="Sentry"
		class="io.sentry.logback.SentryAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="Sentry" />
	</root>
</configuration>
